/* Write your code here: */
h1, h2{
    color: blueviolet;  /*Group selector*/
}
.box > p{
    color: firebrick;   /* parent child selector*/
}
.box .list{
    color: blue;        /* desendent selector*/
}
li.done{
    color: seagreen;    /* chaning selector*/
}

ul p.done{
    font-size: 0.5rem;   /* Combining selector*/
}